.u-uppercase {
  text-transform: uppercase;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Fira Sans", sans-serif;
  scroll-behavior: smooth;
}
img {
  display: block;
  max-width: 100%;
}
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  font-weight: unset;
  font-size: unset;
}
ul {
  padding: 0;
  list-style: none;
}
a,
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}
button,
input {
  border: none;
  outline: none;
}
.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (min-width: 768px) {
  .container {
    max-width: 1000px;
    padding: 0 30px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1180px;
    padding: 0 15px;
  }
}
.row {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .row {
    flex-direction: row;
  }
}
.row-sb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 460px) {
  .row-sb {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 768px) {
  .row-sb {
    justify-content: start;
  }
}
@media (min-width: 1200px) {
  .row-sb {
    justify-content: space-between;
  }
}
.row-w {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.row-r {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
@media (min-width: 768px) {
  .row-r {
    flex-direction: row;
  }
}
.article {
  display: flex;
  flex: 0 1 50%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #fff;
}
@media (min-width: 768px) {
  .article {
    max-width: 580px;
  }
}
.article__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .article__title {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .article__title {
    font-size: 24px;
  }
}
.article__desc {
  margin: 0;
  margin-bottom: 35px;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: -0.025em;
}
@media (min-width: 768px) {
  .article__desc {
    font-size: 30px;
  }
}
@media (min-width: 1200px) {
  .article__desc {
    font-size: 36px;
  }
}
.article--footer {
  max-width: unset;
}
.article--footer .article__title {
  margin-bottom: 20px;
  color: #f9f9f9;
  font-size: 16px;
}
@media (min-width: 768px) {
  .article--footer .article__title {
    font-size: 18px;
  }
}
.article--footer .article__desc {
  margin-bottom: 25px;
  color: #919191;
  font-size: 14px;
  letter-spacing: normal;
}
.btn {
  display: inline-block;
  height: 40px;
  margin: 0 auto;
  padding: 0 15px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #fff;
  border-radius: 28px;
  transition: 0.2s ease;
}
.btn:hover,
.btn:active,
.btn:focus {
  color: #fff;
  text-shadow: 0 0 5px rgba(255, 255, 200, 0.3), 0 0 10px rgba(255, 200, 255, 0.3), 0 0 15px rgba(200, 255, 255, 0.3);
  box-shadow: 0 0 5px 0px rgba(255, 255, 200, 0.3), 0 0 10px 5px rgba(255, 200, 255, 0.3), 0 0 15px 10px rgba(200, 255, 255, 0.3);
  transition: 0.2s ease;
}
@media (min-width: 768px) {
  .btn {
    height: 48px;
    margin: unset;
    padding: 0 20px;
    font-size: 16px;
    line-height: 48px;
  }
}
@media (min-width: 1200px) {
  .btn {
    height: 56px;
    padding: 0 25px;
    font-size: 18px;
    line-height: 56px;
  }
}
.contacts-list {
  font-size: 14px;
}
.contacts-list__item a {
  color: #919191;
  transition: 0.3s ease;
}
.contacts-list__item svg {
  width: 14px;
  height: 14px;
  margin-top: -3px;
  margin-right: 10px;
  transition: 0.3s ease;
  fill: #919191;
}
.contacts-list__item span {
  transition: 0.3s ease;
}
.facebook > a:hover,
.facebook > a:active,
.facebook > a:focus {
  color: #3b5998;
  transition: color 0.3s ease;
}
.facebook > a:hover svg,
.facebook > a:active svg,
.facebook > a:focus svg {
  fill: #3b5998;
}
.twitter > a:hover,
.twitter > a:active,
.twitter > a:focus {
  color: #00acee;
}
.twitter > a:hover svg,
.twitter > a:active svg,
.twitter > a:focus svg {
  fill: #00acee;
}
.instagram > a:hover stop,
.instagram > a:active stop,
.instagram > a:focus stop {
  transition: 0.3s ease;
}
.instagram > a:hover stop.stop-color-1,
.instagram > a:active stop.stop-color-1,
.instagram > a:focus stop.stop-color-1 {
  stop-color: #fdf497;
}
.instagram > a:hover stop.stop-color-2,
.instagram > a:active stop.stop-color-2,
.instagram > a:focus stop.stop-color-2 {
  stop-color: #fd5949;
}
.instagram > a:hover stop.stop-color-3,
.instagram > a:active stop.stop-color-3,
.instagram > a:focus stop.stop-color-3 {
  stop-color: #d6249f;
}
.instagram > a:hover stop.stop-color-4,
.instagram > a:active stop.stop-color-4,
.instagram > a:focus stop.stop-color-4 {
  stop-color: #285aeb;
}
.instagram > a:hover .instagram__i,
.instagram > a:active .instagram__i,
.instagram > a:focus .instagram__i {
  color: #fcaf45;
  transition-delay: 0.06s;
}
.instagram > a:hover .instagram__n,
.instagram > a:active .instagram__n,
.instagram > a:focus .instagram__n {
  color: #f77737;
  transition-delay: 0.09s;
}
.instagram > a:hover .instagram__s,
.instagram > a:active .instagram__s,
.instagram > a:focus .instagram__s {
  color: #f56040;
  transition-delay: 0.12s;
}
.instagram > a:hover .instagram__t,
.instagram > a:active .instagram__t,
.instagram > a:focus .instagram__t {
  color: #fd1d1d;
  transition-delay: 0.15s;
}
.instagram > a:hover .instagram__a1,
.instagram > a:active .instagram__a1,
.instagram > a:focus .instagram__a1 {
  color: #e1306c;
  transition-delay: 0.18s;
}
.instagram > a:hover .instagram__g,
.instagram > a:active .instagram__g,
.instagram > a:focus .instagram__g {
  color: #c13584;
  transition-delay: 0.21s;
}
.instagram > a:hover .instagram__r,
.instagram > a:active .instagram__r,
.instagram > a:focus .instagram__r {
  color: #833ab4;
  transition-delay: 0.24s;
}
.instagram > a:hover .instagram__a2,
.instagram > a:active .instagram__a2,
.instagram > a:focus .instagram__a2 {
  color: #5851db;
  transition-delay: 0.27s;
}
.instagram > a:hover .instagram__m,
.instagram > a:active .instagram__m,
.instagram > a:focus .instagram__m {
  color: #405de6;
  transition-delay: 0.3s;
}
.spotify > a:hover,
.spotify > a:active,
.spotify > a:focus {
  color: #1DB954;
}
.spotify > a:hover svg,
.spotify > a:active svg,
.spotify > a:focus svg {
  fill: #1DB954;
}
.header {
  position: relative;
  z-index: 1;
  padding: 130px 0 90px;
}
.header::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(138deg, #ffffff 0%, rgba(66, 183, 200, 0.50463936) 50%, rgba(66, 183, 200, 0) 100%);
  background-color: rgba(31, 227, 237, 0.28);
  background-blend-mode: soft-light;
  content: "";
}
@media (min-width: 400px) {
  .header {
    background: url("../img/header/corner.svg") center no-repeat, url("../img/header/bg.jpg") right center no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
  }
}
@media (min-width: 768px) {
  .header {
    padding: 195px 0 90px;
  }
}
@media (min-width: 1200px) {
  .header {
    padding: 290px 0 265px;
  }
}
.header__text-wrapper {
  max-width: 580px;
}
.header__title {
  font-weight: 300;
  font-size: 42px;
  letter-spacing: -0.025em;
}
@media (min-width: 768px) {
  .header__title {
    font-size: 58px;
  }
}
@media (min-width: 1200px) {
  .header__title {
    font-size: 72px;
  }
}
.header__subtitle {
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: -0.025em;
}
@media (min-width: 768px) {
  .header__subtitle {
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .header__subtitle {
    font-size: 30px;
  }
}
#navbar-blur.fixed {
  background-color: rgba(113, 212, 239, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.navbar-wrapper {
  position: absolute;
  top: 30px;
  width: 100%;
  padding: 5px 0;
  background-color: rgba(113, 212, 239, 0);
  transition: background-color 1s;
}
.navbar-wrapper.fixed {
  position: fixed;
  top: 0;
  transition: background-color 1s;
}
.navbar-wrapper.fixed .navbar {
  height: 48px;
}
.navbar-wrapper.fixed .navbar__logo {
  width: 48px;
  height: 48px;
  font-size: 36px;
}
@media (min-width: 768px) {
  .navbar-wrapper {
    top: 45px;
  }
}
@media (min-width: 1200px) {
  .navbar-wrapper {
    top: 90px;
  }
}
.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1600px;
  height: 48px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (min-width: 768px) {
  .navbar {
    height: 64px;
  }
}
@media (min-width: 1200px) {
  .navbar {
    height: 80px;
  }
}
.navbar__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  color: #fff;
  font-weight: 800;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  background-color: #000;
  cursor: pointer;
  transition: 0.5s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.navbar__logo:hover,
.navbar__logo:active,
.navbar__logo:focus {
  color: #2ebd59;
  transition: 0.5s;
}
@media (min-width: 768px) {
  .navbar__logo {
    width: 64px;
    height: 64px;
    font-size: 48px;
  }
}
@media (min-width: 1200px) {
  .navbar__logo {
    width: 80px;
    height: 80px;
    font-size: 60px;
  }
}
.navbar__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 5px 0;
  border-radius: 5px;
  cursor: pointer;
}
.navbar__btn:hover,
.navbar__btn:active,
.navbar__btn:focus {
  color: #2ebd59;
  text-shadow: 0 0 4px #000;
  outline: none;
}
.navbar__btn:hover .navbar__btn-burger,
.navbar__btn:active .navbar__btn-burger,
.navbar__btn:focus .navbar__btn-burger,
.navbar__btn:hover .navbar__btn-burger::before,
.navbar__btn:active .navbar__btn-burger::before,
.navbar__btn:focus .navbar__btn-burger::before,
.navbar__btn:hover .navbar__btn-burger::after,
.navbar__btn:active .navbar__btn-burger::after,
.navbar__btn:focus .navbar__btn-burger::after {
  background-color: #2ebd59;
  box-shadow: 0 0 2px #000;
  transition: 0.5s;
}
.navbar__btn.act .navbar__btn-burger {
  z-index: -1;
  margin-top: 40px;
  opacity: 0;
  transition: 0.5s;
}
.navbar__btn.act .navbar__btn-text {
  margin-top: -80px;
  padding: 20px 0;
}
.navbar__btn-burger {
  position: relative;
  z-index: 0;
  width: 90%;
  height: 5px;
  margin-top: 0;
  margin-bottom: 12px;
  background-color: #000;
  border-radius: 2px;
  opacity: 1;
  transition: 0.5s;
}
.navbar__btn-burger::after,
.navbar__btn-burger::before {
  position: absolute;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #000;
  border-radius: 2px;
  transition: 0.5s;
  content: "";
}
.navbar__btn-burger::after {
  top: -9px;
}
.navbar__btn-burger::before {
  bottom: -9px;
}
.navbar__btn-text {
  margin-top: 0;
  padding: 0;
  font-size: 12px;
  text-transform: uppercase;
  transition: 0.5s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.navbar__btn-text:hover,
.navbar__btn-text:active,
.navbar__btn-text:focus {
  outline: none;
}
.navbar__menu {
  position: absolute;
  top: 53px;
  right: 0;
  display: flex;
  padding: 15px;
  background-color: rgba(113, 212, 239, 0.5);
  transform: scaleY(0);
  transform-origin: top;
  visibility: hidden;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  transition: 0.5s;
}
.navbar__menu a,
.navbar__menu li {
  opacity: 0;
  transition: 0.3s;
}
.navbar__menu.act {
  transform: scaleY(1);
  visibility: visible;
  transition: transform 0.5s;
}
.navbar__menu.act a,
.navbar__menu.act li {
  opacity: 1;
  transition: 0.3s;
}
.navbar__menu-list {
  display: flex;
  flex-direction: column;
}
.navbar__menu-list-item {
  margin-bottom: 10px;
  color: #000;
  font-weight: 700;
  font-size: 18px;
}
.navbar__menu-list-item:hover,
.navbar__menu-list-item:focus,
.navbar__menu-list-item:active {
  color: #2ebd59;
  text-shadow: 0 0 4px #000;
}
.navbar__contacts {
  margin-bottom: 0;
  transition: 0.5s;
}
.navbar__contacts a {
  color: #000;
}
.navbar__contacts svg {
  fill: #000;
}
.navbar__contacts stop {
  stop-color: #000;
}
.navbar__contacts .contacts-list__item {
  margin-bottom: 10px;
}
.navbar__contacts .contacts-list__item:last-child {
  margin-bottom: 0;
}
.about__left-side {
  position: relative;
  flex: 0 1 50%;
  overflow: hidden;
}
.about__left-side::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(237, 31, 34, 0.8);
  mix-blend-mode: darken;
  content: "";
}
.about__left-side-img {
  z-index: -1;
  min-width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media (min-width: 768px) and (max-width: 905px) {
  .about__left-side-img {
    min-width: 130%;
  }
}
.about__right-side {
  padding: 30px 15px;
  color: #666666;
}
@media (min-width: 768px) {
  .about__right-side {
    padding: 15px 15px 15px 45px;
  }
}
@media (min-width: 1200px) {
  .about__right-side {
    padding: 15px 15px 15px 60px;
  }
}
.about__right-side .article__desc {
  margin-bottom: 0;
}
.gallery {
  background-color: #3f729b;
}
.gallery__img {
  flex: 0 1 50%;
  max-width: 50%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.gallery__img img {
  min-width: 100%;
}
@media (min-width: 900px) {
  .gallery__img {
    flex: 0 1 25%;
    max-width: 25%;
  }
}
.gallery__left-side {
  padding: 30px 15px;
}
@media (min-width: 768px) {
  .gallery__left-side {
    padding: 15px 45px 15px 15px;
  }
}
@media (min-width: 1200px) {
  .gallery__left-side {
    padding: 15px 60px 15px 15px;
  }
}
.gallery__right-side {
  position: relative;
  flex: 0 1 50%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.gallery__right-side img {
  min-width: 100%;
}
@media (min-width: 900px) {
  .gallery__right-side {
    max-width: 25%;
    margin-right: 25%;
  }
}
.video {
  overflow: hidden;
  background-color: #282b2f;
  background-image: url("../img/video/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-width: 1200px) {
  .video {
    height: 900px;
    background-size: cover;
  }
}
.video__blank {
  position: relative;
  display: grid;
  padding: 30px 15px 30px;
  color: #2ebd59;
  background-color: rgba(33, 34, 39, 0.7);
}
@media (min-width: 768px) {
  .video__blank {
    display: block;
    max-width: 400px;
    margin-left: 50%;
    padding: 125px 65px 95px;
    background-color: #212227;
    transform: translateX(-100%);
  }
  .video__blank::before {
    position: absolute;
    top: 0;
    right: 100%;
    bottom: -100%;
    left: -1000%;
    background-color: #212227;
    content: "";
  }
}
@media (min-width: 1200px) {
  .video__blank::before {
    background-color: #282b2f;
  }
}
.video__blank-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .video__blank-title {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .video__blank-title {
    font-size: 24px;
  }
}
.video__blank-subtitle {
  margin-bottom: 30px;
  font-size: 16px;
  text-transform: uppercase;
}
@media (min-width: 1200px) {
  .video__blank-subtitle {
    font-size: 18px;
  }
}
.video__blank-list {
  margin-bottom: 45px;
  color: #fff;
  font-size: 14px;
}
.video__blank-btn {
  padding: 0 15px;
  color: #2ebd59;
  letter-spacing: normal;
  border-color: #2ebd59;
}
.video__blank-btn:hover,
.video__blank-btn:active,
.video__blank-btn:focus {
  color: #2ebd59;
  text-shadow: 0 0 5px rgba(46, 189, 89, 0.3), 0 0 10px rgba(46, 189, 89, 0.3), 0 0 15px rgba(46, 189, 89, 0.3);
  box-shadow: 0 0 5px 0px rgba(46, 189, 89, 0.3), 0 0 10px 5px rgba(46, 189, 89, 0.3), 0 0 15px 10px rgba(46, 189, 89, 0.3);
  transition: 0.2s ease;
}
.video__blank-btn-play {
  display: inline-block;
  margin: 0 -8px 0 5px;
  border: 5px solid transparent;
  border-left: 9px solid #2ebd59;
}
@media (min-width: 768px) {
  .video__blank-btn-play {
    border: 6px solid transparent;
    border-left: 10px solid #2ebd59;
  }
}
@media (min-width: 1200px) {
  .video__blank-btn-play {
    border: 7px solid transparent;
    border-left: 12px solid #2ebd59;
  }
}
.music {
  position: relative;
  z-index: 0;
  padding: 0;
  overflow: hidden;
  background-color: #282b2f;
}
@media (min-width: 768px) {
  .music {
    padding: 85px 0;
  }
  .music::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 50%;
    background-color: #2ebd59;
    content: "";
  }
}
@media (min-width: 1200px) {
  .music {
    padding: 119px 0;
  }
}
.music__left-side {
  position: relative;
  padding: 30px 15px;
}
.music__left-side::before {
  position: absolute;
  top: 0;
  right: -300%;
  bottom: 0;
  left: -300%;
  z-index: -1;
  background-color: #2ebd59;
  content: "";
}
@media (min-width: 768px) {
  .music__left-side {
    padding: 15px 45px 15px 15px;
  }
  .music__left-side::before {
    display: none;
  }
}
@media (min-width: 1200px) {
  .music__left-side {
    padding: 15px 60px 15px 15px;
  }
  .music__left-side::before {
    display: none;
  }
}
.music__right-side {
  padding: 30px 15px;
}
@media (min-width: 768px) {
  .music__right-side {
    padding: 15px 15px 15px 45px;
  }
  .music__right-side .btn {
    margin-top: auto;
  }
}
@media (min-width: 1200px) {
  .music__right-side {
    padding: 15px 15px 15px 60px;
  }
  .music__right-side .btn {
    margin-top: unset;
  }
}
.footer {
  position: relative;
  padding: 30px 0 60px;
  background-color: #212227;
}
@media (min-width: 1200px) {
  .footer {
    padding: 100px 0;
  }
}
.footer__left-side {
  flex-shrink: 5;
}
@media (min-width: 460px) {
  .footer__left-side {
    max-width: 240px;
  }
}
@media (min-width: 768px) {
  .footer__left-side {
    max-width: 40%;
  }
}
@media (min-width: 1200px) {
  .footer__left-side {
    max-width: 280px;
  }
}
.footer__mid {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .footer__mid {
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin-left: 10%;
  }
}
@media (min-width: 1200px) {
  .footer__mid {
    max-width: 280px;
  }
}
.footer__right-side {
  display: flex;
  flex-direction: column;
  flex-shrink: 10;
  max-width: 480px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .footer__right-side {
    max-width: 380px;
  }
  .footer__right-side #subscribe {
    position: absolute;
    top: 220px;
    right: 25px;
    left: 50%;
    max-width: 469px;
  }
}
.footer__right-side-form {
  position: relative;
  display: flex;
  height: 60px;
  margin-bottom: 75px;
}
.footer__right-side-form-email {
  width: calc(100% - 60px);
  height: 100%;
  padding: 0 15px;
  color: #919191;
  background-color: rgba(144, 145, 147, 0.4);
}
.footer__right-side-form-email:-ms-input-placeholder {
  padding-left: 15px;
  color: #919191;
  font-size: 14px;
}
.footer__right-side-form-email::-ms-input-placeholder {
  padding-left: 15px;
  color: #919191;
  font-size: 14px;
}
.footer__right-side-form-email::placeholder {
  padding-left: 15px;
  color: #919191;
  font-size: 14px;
}
@media (min-width: 1200px) {
  .footer__right-side-form-email:-ms-input-placeholder {
    font-size: 18px;
  }
  .footer__right-side-form-email::-ms-input-placeholder {
    font-size: 18px;
  }
  .footer__right-side-form-email::placeholder {
    font-size: 18px;
  }
}
.footer__right-side-form-btn-arrow {
  position: absolute;
  top: 50%;
  right: 30px;
  width: 11px;
  height: 4px;
  background-color: #919191;
  border-radius: 2px;
  transform: translateY(-50%);
  transition: 0.5s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}
.footer__right-side-form-btn-arrow::before,
.footer__right-side-form-btn-arrow::after {
  position: absolute;
  right: -5px;
  width: 12px;
  height: 4px;
  background-color: #919191;
  border-radius: 2px;
  transition: 0.5s;
  content: "";
}
.footer__right-side-form-btn-arrow::before {
  position: absolute;
  top: -3px;
  transform: rotate(45deg);
}
.footer__right-side-form-btn-arrow::after {
  position: absolute;
  bottom: -3px;
  transform: rotate(-45deg);
}
.footer__right-side-form-btn {
  display: inline-block;
  width: 60px;
  height: 100%;
  padding: 0;
  background-color: rgba(144, 145, 147, 0.4);
}
.footer__right-side-form-btn:hover ~ .footer__right-side-form-btn-arrow,
.footer__right-side-form-btn:active ~ .footer__right-side-form-btn-arrow,
.footer__right-side-form-btn:focus ~ .footer__right-side-form-btn-arrow,
.footer__right-side-form-btn:hover ~ .footer__right-side-form-btn-arrow::before,
.footer__right-side-form-btn:active ~ .footer__right-side-form-btn-arrow::before,
.footer__right-side-form-btn:focus ~ .footer__right-side-form-btn-arrow::before,
.footer__right-side-form-btn:hover ~ .footer__right-side-form-btn-arrow::after,
.footer__right-side-form-btn:active ~ .footer__right-side-form-btn-arrow::after,
.footer__right-side-form-btn:focus ~ .footer__right-side-form-btn-arrow::after {
  background-color: #2ebd59;
  transition: 0.5s;
}
.footer__right-side-sponsor {
  display: flex;
}
.footer__right-side-sponsor-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  margin-right: 20px;
  color: #f2f7fb;
  border: 1px solid #f4f8fb;
}
/*# sourceMappingURL=./main.css.map */