.header {
  position: relative;
  z-index: 1;
  padding: 90px 0 265px;
  background: url("../../img/header/corner.svg") center -5% no-repeat,
    url("../../img/header/bg.jpg") right center no-repeat;
  background-size: cover;
  background-blend-mode: multiply;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(
      138deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(66, 183, 200, 0.5046393557422969) 50%,
      rgba(66, 183, 200, 0) 100%
    );
    background-color: rgba(31, 227, 237, 0.28);
    background-blend-mode: soft-light;
    content: "";
  }

  &__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 25%;
  }
  // .header__text-wrapper
  &__text-wrapper {
    max-width: 580px;
  }
  // .header__title
  &__title {
    font-weight: 300;
    font-size: 72px;
    letter-spacing: -0.025em;
  }
  // .header__subtitle
  &__subtitle {
    font-size: 30px;
    line-height: 1.5;
    letter-spacing: -0.025em;
  }
}

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: @navbar;
  margin-bottom: 200px;

  // .navbar__logo
  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: @navbar;
    height: @navbar;
    color: #fff;
    font-weight: 800;
    font-size: 60px;
    line-height: 1;
    text-align: center;
    background-color: #000;
    cursor: pointer;
    transition: 0.5s;
    user-select: none;

    &:hover,
    &:active,
    &:focus {
      color: @green;
      transition: 0.5s;
    }
  }

  // .navbar__btn
  &__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 5px 0;
    border-radius: 5px;
    cursor: pointer;

    &:hover,
    &:active,
    &:focus {
      color: @green;
      text-shadow: 0 0 4px #000;
      outline: none;
      .navbar__btn-burger,
      .navbar__btn-burger::before,
      .navbar__btn-burger::after {
        background-color: @green;
        box-shadow: 0 0 2px #000;
        transition: 0.5s;
      }
    }

    &.act {
      .navbar__btn-burger {
        z-index: -1;
        margin-top: 40px;
        opacity: 0;
        transition: 0.5s;
      }
      .navbar__btn-text {
        margin-top: -80px;
        padding: 20px 0;
      }
    }
  }
  // .navbar__btn-burger
  &__btn-burger {
    position: relative;
    z-index: 0;
    width: 90%;
    height: 5px;
    margin-top: 0;
    margin-bottom: 12px;
    background-color: #000;
    border-radius: 2px;
    opacity: 1;
    transition: 0.5s;

    &::after,
    &::before {
      position: absolute;
      left: 0;
      width: 100%;
      height: 5px;
      background-color: #000;
      border-radius: 2px;
      transition: 0.5s;
      content: "";
    }

    &::after {
      top: -9px;
    }

    &::before {
      bottom: -9px;
    }
  }
  // .navbar__btn-text
  &__btn-text {
    margin-top: 0;
    padding: 0;
    font-size: 12px;
    text-transform: uppercase;
    transition: 0.5s;
    user-select: none;

    &:hover,
    &:active,
    &:focus {
      outline: none;
    }
  }

  // .navbar__menu
  &__menu {
    position: absolute;
    top: 68px;
    right: 0;
    padding: 15px;
    background-color: rgba(#000, 0.2);
    border-radius: 5px;
    transform: scaleY(0);
    transform-origin: top;
    visibility: hidden;
    transition: 0.5s;
    a,
    li {
      opacity: 0;
      transition: 0.3s;
    }
    &.act {
      transform: scaleY(1);
      visibility: visible;
      transition: transform 0.5s;
      a,
      li {
        opacity: 1;
        transition: 0.3s;
      }
    }
  }

  // .navbar__menu-list
  &__menu-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }

  // .navbar__menu-list-item
  &__menu-list-item {
    margin-bottom: 10px;
    color: #000;
    font-weight: 700;
    font-size: 18px;
    &:hover,
    &:focus,
    &:active {
      color: @green;
      text-shadow: 0 0 4px #000;
    }
  }

  // .navbar__contacts
  &__contacts {
    margin-bottom: 0;
    transition: 0.5s;
    a {
      color: #000;
    }
    svg {
      fill: #000;
    }
    stop {
      stop-color: #000;
    }
    .contacts-list__item {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
