.about {
  // .about__left-side
  &__left-side {
    position: relative;
    flex: 0 1 50%;
    overflow: hidden;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(237, 31, 34, 0.8);
      mix-blend-mode: darken;
      content: "";
    }
  }

  // .about__left-side-img
  &__left-side-img {
min-width: 100%;
    user-select: none;
  }

  // .about__right-side
  &__right-side {
    padding: 30px 15px;
    color: #666666;

    @media (min-width: 768px) {
      padding: 15px;
    }

    @media (min-width: 1200px) {
      padding: 15px 15px 15px 60px;
    }

    .article__desc {
      margin-bottom: 0;
    }
  }
}
