.gallery {
  max-width: 1600px;
  margin: 0 auto;
  background-color: #3f729b;

  // .gallery__img
  &__img {
    max-width: 25%;
  }
  // .gallery__left-side
  &__left-side {
    padding: 15px 60px 15px 15px;
  }

  // .gallery__right-side
  &__right-side {
    position: relative;
    flex: 0 1 50%;
    max-width: 25%;
    margin-right: 25%;
}
// .gallery__right-side-img
&__right-side-img {
  }
}
