.video {
  overflow: hidden;
  background-color: @gray;
  background-image: url("../../img/video/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-width: 1200px) {
    height: 900px;
    background-size: cover;
  }

  // .video__blank
  &__blank {
    position: relative;
    display: grid;
    padding: 30px 15px 30px;
    color: @green;
    background-color: rgba(@bluegray, 0.7);

    @media (min-width: 768px) {
      display: block;
      max-width: 400px;
      margin-left: 50%;
      padding: 125px 65px 95px;
      background-color: @bluegray;
      transform: translateX(-100%);

      &::before {
        position: absolute;
        top: 0;
        right: 100%;
        bottom: -100%;
        left: -1000%;
        background-color: @bluegray;
        content: "";
      }
    }

    @media (min-width: 1200px) {
      &::before {
        background-color: @gray;
      }
    }
  }

  // .video__blank-title
  &__blank-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;

    @media (min-width: 768px) {
      font-size: 20px;
    }

    @media (min-width: 1200px) {
      font-size: 24px;
    }
  }

  // .video__blank-subtitle
  &__blank-subtitle {
    margin-bottom: 30px;
    font-size: 16px;
    text-transform: uppercase;

    @media (min-width: 1200px) {
      font-size: 18px;
    }
  }

  // .video__blank-list
  &__blank-list {
    margin-bottom: 45px;
    color: #fff;
    font-size: 14px;
  }

  // .video__blank-list-item
  &__blank-list-item {
  }

  // .video__blank-btn
  &__blank-btn {
    padding: 0 15px;
    color: @green;
    letter-spacing: normal;
    border-color: @green;

    &:hover,
    &:active,
    &:focus {
      color: @green;
      text-shadow: 0 0 5px rgba(@green, 0.3), 0 0 10px rgba(@green, 0.3),
        0 0 15px rgba(@green, 0.3);
      box-shadow: 0 0 5px 0px rgba(@green, 0.3), 0 0 10px 5px rgba(@green, 0.3),
        0 0 15px 10px rgba(@green, 0.3);
      transition: 0.2s ease;
    }
  }

  // .video__blank-btn-play
  &__blank-btn-play {
    display: inline-block;
    margin: 0 -8px 0 5px;
    border: 5px solid transparent;
    border-left: 9px solid @green;

    @media (min-width: 768px) {
      border: 6px solid transparent;
      border-left: 10px solid @green;
    }

    @media (min-width: 1200px) {
      border: 7px solid transparent;
      border-left: 12px solid @green;
    }
  }
}
