.gallery {
  background-color: #3f729b;

  // .gallery__img
  &__img {
    flex: 0 1 25%;
    max-width: 25%;
    user-select: none;
    img {
      min-width: 100%;
    }
  }
  // .gallery__left-side
  &__left-side {
    padding: 15px 60px 15px 15px;
  }

  // .gallery__right-side
  &__right-side {
    position: relative;
    flex: 0 1 50%;
    max-width: 25%;
    margin-right: 25%;
    user-select: none;
    img {
      min-width: 100%;
    }
  }
  // .gallery__right-side-img
  &__right-side-img {
  }
}
